@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,300;1,400;1,500;1,600&display=swap');

.contacts {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
}
li {
  margin: 20px;
  width: 20%;
  border: 1px solid whitesmoke;
  padding-bottom: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 200px;
}


h3,
p {
  text-align: center;
  color: black;
}


.container {
  max-width: 500px;
  padding: 10px 20px;
  background: #f4f7f8;
  margin: 10px auto;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 2px;
  font-family: Poppins;
}

.input {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255, 255, 255, .1);
  border: none;
  border-radius: 2px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

.contain:focus {
  background: #d2d9dd;
}

.btn {
  position: relative;
  display: block;
  padding: 10px;
  color: #FFF;
  margin: 0 auto;
  background: #92a016;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid #92a016;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
  border-radius: 2px;
}